<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ModelCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Version" value="2013.01"/>
    <add key="Provider" value="AutoTask"/>
    <add key="ConnectionString" value="https://webservices9.autotask.net/atservices/1.5/atws.wsdl"/>
    <add key="ManageKey" value="Database"/>
    <add key="Namespace" value="Quanto.QDataLib14_0_1" />
    <add key="Comment" value="true"/>
    <add key="AuthorName" value="Marco Bianchi"/>
    <add key="Color" value="Grey"/>
    <add key="Modality" value="Easy"/>
    <add key="Framework" value="35"/>
    <add key="Code" value="TableCode"/>
    <add key="Timespan" value="false"/>
    <add key="Keyuni" value="false"/>
    <add key="GuidCreator" value="Framework"/>
    <add key="SqlScriptFile" value="c:\SqlScript.sql"/>
    <add key="ClassDirectory" value="c:\ModelCreator\"/>
    <add key="View" value="view"/>
    <add key="IsUnknown" value="IsUnknown"/>
    <add key="InsertSql" value="Insert{0}"/>
    <add key="CloneSql" value="Clone{0}"/>
    <add key="UpdateSql" value="Update{0}"/>
    <add key="DeleteSql" value="Delete{0}"/>
    <add key="GetCollectionSql" value="GetCollection{0}"/>
    <add key="GetByCodeSql" value="GetByCode{0}"/>
    <add key="GetByKeyuniSql" value="GetByKeyuni{0}"/>
    <add key="GetCustomItemSql" value="GetItem_{0}_"/>
    <add key="GetCustomCollectionSql" value="GetCollection_{0}"/>
    <add key="InsertFunction" value="Insert"/>
    <add key="CloneFunction" value="Clone"/>
    <add key="UpdateFunction" value="Update"/>
    <add key="DeleteFunction" value="Delete"/>
    <add key="ReadFunction" value="Read"/>
    <add key="GetCollectionFunction" value="GetCollection"/>
    <add key="GetByCodeFunction" value="GetByCode"/>
    <add key="GetByKeyuniFunction" value="GetByKeyuni"/>
    <add key="GetCustomItemFunction" value="GetItem"/>
    <add key="GetCustomCollectionFunction" value="GetCollection"/>
    <add key="GetFunctionItem" value="GetItem"/>
    <add key="GetFunctionCollection" value="GetCollection"/>
    <add key="ReadingFunctionCode" value="Keyuni"/>
    <add key="GetFunctionItem" value="GetItem"/>
    <!-- Only in Professional Mode // OBSOLETE-->
    <add key="NameUniqueIdentifier" value="Keyuni"/>
    <add key="IsRowGuid" value="false"/>
    <add key="IsCustomDecimal" value="true"/>
    <add key="SuperClass" value="false"/>
    <!--<add key="StandardCode" value="true"/>-->
    <!-- <add key="Layer" value="OneLayer"/>-->
    <!--<add key="Output" value="Datatable"/>-->
    <add key="CreateCustomClass" value="false"/>
    <add key="Owner" value="dbo"/>
    <add key="CreateFirstRelease" value="false"/>
    <add key="NullLogic" value="false"/>
    <add key="Language" value="it"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <ModelCreator.Properties.Settings>
      <setting name="AUTOTASK_autotask_ATWS" serializeAs="String">
        <value>https://webservices9.autotask.net/ATServices/1.5/atws.asmx</value>
      </setting>
      <setting name="ModelCreator_autotask_ATWS" serializeAs="String">
        <value>https://webservices9.autotask.net/ATServices/1.5/atws.asmx</value>
      </setting>
    </ModelCreator.Properties.Settings>
  </applicationSettings>
</configuration>
